<a href="https://colab.research.google.com/github/cvic17/BTE320/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Shape Area Calculator**

In [ ]:
pi=3.14
h=10
r=3

Area=2*pi*r*h+2*pi*r**2
print(Area)

244.92000000000002

**Rock, Paper,Scissor Game(While Loop)**

In [1]:
i = input('Would you like to play(yes or no)?')
while i == 'yes':
  p1= input('Player 1 enter your move(rock, paper, or scissors)')
  p2= input('Player 2 enter your move(rock, paper, or scissors)')
  if p1==p2:
    print('Draw')
  elif p1 == 'rock' and p2 == 'scissors':
    print('Player 1 Wins!')
  elif p1 == 'rock' and p2 == 'paper':
    print('Player 2 Wins!')
  elif p1 == 'scissors' and p2 == 'rock':
    print('Player 2 Wins!')
  elif p1 == 'scissors' and p2 == 'paper':
    print('Player 1 Wins!')
  elif p1 == 'paper' and p2 == 'scissors':
    print('Player 2 Wins!')
  elif p1 == 'paper' and p2 == 'rock':
    print('Player 1 Wins!')

  i = input('Would you like to play(yes or no)?')

Would you like to play(yes or no)?yes
Player 1 enter your move(rock, paper, or scissors)rock
Player 2 enter your move(rock, paper, or scissors)paper
Player 2 Wins!
Would you like to play(yes or no)?

**Numerical Calculator**

In [ ]:
n1=float(input('Enter your first number:'))
n2=float(input('Enter your second number:'))
x3=input('Would you like to +,-,*,/, or **:')

if x3 == '+':
  print(n1+n2)
elif x3 == '-':
  print(n1-n2)
elif x3 == '*':
  print(n1*n2)
elif x3 == '/':
  print(n1/n2)
elif x3 == '**':
  print(n1**n2)

Enter your first number:2
Enter your second number:3
Would you like to +,-,*,/, or **:**
8.0

**Parking Garage**

In [2]:
f= 5
i=2.5

for h in range(1,9):
  t= f+i*h
  if t < 10:
    t=10
  elif t > 20:
    t=20
  print(h,t)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

**Movie Theater**

In [3]:
ticket=10
forecast=20
fc=200

for a in range(0,225,25):
  addit=2*(a**.5)
  Profit= round(forecast+addit)*10-fc-a
  print(a,Profit)

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

**Range**

In [ ]:
for i in range(1,10000000):
    if i ==10:
      break
    print(i, end=' ')
print('Done.')

1 2 3 4 5 6 7 8 9 Done.

**Appending List**

In [ ]:
l = []
item= int(input('Provide a value: '))
while item !=0:
  l.append(item)
  item= int(input('Provide a value: '))
print(l)

Provide a value: 1
Provide a value: 2
Provide a value: 3
Provide a value: 4
Provide a value: 0
[1, 2, 3, 4]

**Months to Numbers**

In [4]:
months = {}

names =["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
for idx in numbers:
  months[idx] = names[idx-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
for key in months:
  print(key)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
for key, value in months.items():
  print(key, value)

1 Jan
2 Feb
3 Mar
4 Apr
5 May
6 Jun
7 Jul
8 Aug
9 Sep
10 Oct
11 Nov
12 Dec

**Fee Calculation and Display Functions**

In [5]:
def Calcfee(hours,decimals=2):
  fee=5+hours*2.5
  fee=round(fee,decimals)
  return fee

def displayFee(fee):
  print(fee)

h= int(input("Enter number of hours: "))
fee= Calcfee(h,decimals=0)
displayFee(fee)

Enter number of hours: 5
18.0

**Reverse Function Recursion**

In [6]:
def mirror(s):
  if len(s)==1:
    return s
  else:
    return s[-1]+mirror(s[:-1])


mirror('hello')

'olleh'

**Weighted Average**

In [ ]:
def wAvg(L,w):
  try:
    res=[]
    for i in range(len(L)):
      res.append(L[i]*w[i])
    return sum(res)/sum(w)
  except ZeroDivisionError:
    print('Divided by zero')
    return []
  except TypeError:
    print('Non-numerical object found')
    return []
  except Exception as e:
    print("Unknown error")
    return float("nan")
wAvg([1,2,3],[.1,.3,.4])

2.375

**Car Class**

In [7]:
class Car:
  def __init__(self,n_doors, allwd, make, year,hp):
    self.doors = n_doors
    self.allowed = allwd
    self.make = make
    self.year = year
    self.n_wheels=4
    self.engine_running=False
    self.current_speed=self.hp=hp

  def start_engine(self):
    self.engine_running=True

  def stop_engine(self):
    self.engine_running=False

  def accelerate(self,new_speed):
    if self.engine_running == True:
      self.current_speed=new_speed + new_speed
      print(f'New speed is {self.current_speed}')
    else:
      print('Start engine first')

  def brake(self,speed_decrease):
    self.current_speed=max(0,slef.current_speed-speed_decrease)

  def describe(self):
    print(f'Make: {self.make}')
    print(f'Year: {self.year}')

  def __str__(self):
    return f'Make: {self.make}, Year: {self.year}'

  def __lt__(self,other):
    return self.hp < other.hp

  def __add__(self,other):
    return self.hp + other.hp


c= Car(4,False,'Ferrari',2023,300)
d=Car(4,True,"Dodge",2022,150)

In [8]:
c < d

False

In [9]:
c+d

450

In [10]:
c.start_engine()

In [11]:
c.accelerate(50)

New speed is 100

In [12]:
print(c)

Make: Ferrari, Year: 2023

**Student Class**

In [13]:
class Student:
  def __init__(self,name,number, courses):
    self.name=name
    self.number=number
    self.courses=[]

  def set_name(self,newName):
    self.name=newName

  def get_name(self):
    return self.name

  def enroll(self, Newcourse):
    if Newcourse not in self.courses:
     self.courses.append(Newcourse)
    else:
      print('Already enrolled')

  def get_courses(self):
    return self.courses

  def __repr__(self):
    return f'Name: {self.name}'
class GradStudent(Student):
  def __init__(self,name,number,courses,stipend):
    super().__init__(name,number)
    self.stipend=stipend

  def set_stipend(self,Newstipend):
    self.stipend=Newstipend

  def get_stipend(self):
    return self.stipend

In [15]:
s1=Student("James Bond",'007',[])
s2=Student("Clark Kent",'333',[])

s2.get_name()

'Clark Kent'

In [17]:
s1.enroll('BTE320')
s1.get_courses()

['BTE320']

In [19]:
s2.set_name('Superman')
s2.get_name()

'Superman'

In [20]:
s2.enroll('BTE320')
s2.get_courses()

['BTE320']

In [21]:
s2.enroll('BTE401')
s2.get_courses()

['BTE320', 'BTE401']